<p id="notice"><%= notice %></p>

<h1>EVENTS</h1>
<br />
<h2>UPCOMING EVENTS</h2>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.upcoming.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= event.creator.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= show_attend_button(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>PAST EVENTS</h2>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.past.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= event.creator.name %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

