<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h3>Event Attenders</h3>
<ul>
<% @event.attendees.each do |attender| %>
  <li> <%= attender.name %> </li>
<% end %>
</ul>
